@model BlogApplication.Context.Comment
@{
    ViewBag.Title = "Comment";
}

<h2>Comment</h2>

@using (Html.BeginForm("AddComment", "Home", FormMethod.Post))
{
    @Html.HiddenFor(x => x.PostId) // Ensure the model has a PostId property and it is included in the form

    <div class="container">
        <div class="form-group">
            @Html.HiddenFor(x => x.CommentId)
            <label>Author</label>
            @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Comment</label>
            @Html.TextBoxFor(x => x.Content, new { @class = "form-control" })
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
}
